body{
  background: #101010;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
label{
  display: block;
}
input{
  width: 100%;
}
.formRegister{
  width: 40vw;
}
.errorInput{
  background: rgb(255, 141, 141)
}